*{
    padding: 0;
    margin: 0;
}

.icon1{
    display: flex;
    align-items: center;
    padding-right: 2px !important;
}

.header-photos{
   width:70%;
}

.icon1-txt{
    padding-left: 2px !important;
}

.label-txt{
    font-family: "Lobster Two", cursive !important;
    font-weight: 700;
    line-height: 1.4;
    color: #092a49;
    font-size: 1.25rem;
}

.ministry-logo{
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
}

.logos{
    width: 4%;
}

.ministry-margin{
    margin-top: 20px !important;
}

.ministry-info{
    margin: 0 !important;
    font-family: 'Samsung sans',sans-serif;
    line-height: 1.5;
    color: #555555;
    font-weight: 300;
    font-size: 16px;
}

.readmore-bttn{
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    color:#0c4f91;
    font-weight: 500;
}

/* overflow hidden nuk i kalon kufijt e qati layout */
.register-title{
    position: relative;
    overflow: hidden;
    color: #1d61a1;
    font-weight: 300;
    margin: 0;
    font-size: 18.72px;
}

/* meqenese ky osht child i parentit, atehere position duhet me kan abosult qe merr vlera prej relativit nalt */
.register-title:after {
    content: "";
    top: 50%;
    width: 100%;
    margin-left: 16px;
    height: 2px;
    position: absolute;
    background: #fec736;
}

.register-paragraph, .documentation-bullet li span{
    font-family: 'Samsung sans',sans-serif;
    text-align: justify;
    line-height: 1.5;
    color: #555555;
    font-weight: 300;
    margin-top: 10px;
    font-size: 16px;
}

.email-contact{
    font-style: italic;
    color: #1d61a1;
}

.email-contact .mail-logo, .readmore-bttn .angeldown-logo{
    width: 3%;
}

.register-email{
    font-style: normal;
    color: #555;
    display: none;
    margin-left: 10px;
}

.documentation-title{
    font-style: normal;
    color: #1d61a1;
}

.mail-logo:hover + .register-email{
   display: inline-block;
}

.documentation-bullet li{
    color: #1d61a1;
}

 .procedure-row .info-procedure{
    position: relative;
    background-color: #fff;
    /* width: 90% !important; */
    /* padding: 45px 20px 30px; */
    border-radius: 6px;
    box-shadow: 0 3px 8px 3px rgb(0 0 0 / 10%);
    margin: 5px;
    max-height: 300px;
}
.procedure-row, .last-row{
    display: flex;
    flex-wrap: nowrap !important;
}

.steps-tittle{
    min-width: 200px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 18px;
    color: #fff;
    border-radius: 6px;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 15%);
    position: absolute;
    top: -30px;
    /* left: -30px; */

}

.img__wrap {
    position: relative;
    /* height: 200px;
    width: 257px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 20px 5px 20px 5px;
    border-radius: 6px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(29, 102, 154, 0.954); */
    color: #fff;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    transition: opacity .2s, visibility .2s;
    text-align: center;
    border-radius: 6px;
    padding-top: 30%;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .card-tittle{
    margin-top: 30px;
  }

  .card-desc, .card-tittle{
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
  }

  .last-row{
    margin-top: 60px;
  }

.use-bttn{
    color:#0c4f91;
    width: 25%;
    height: 50px;
    background-color:transparent;
    border: 1px solid #0c4f91;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 300;
}

.logout-bttn{
    color:#0c4f91;
    padding: 2px 10px;
    background-color:transparent;
    border: 1px solid #0c4f91;
    border-radius: 6px;
    font-weight: 300;

}

.bttn-part{
     display: flex;
     flex-direction: row;
     justify-content: flex-end; 
     align-items: center;
 } 

 .header{
    padding: 5px;
    background-color: aliceblue;
 }

 .information-section{
    margin-top: 50px;
 }

 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F5F5F5;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;

 }

 /* .show-paragraph{
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
    margin: 0 !important;
 } */















