.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.border-1{
    border: 0.1rem solid lightgray;
    margin: 1rem 0 0 0;
}

.border-2{
    border: 0.2rem solid black;
    margin: 1rem 0 0 0;
}

.logos{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo{
    max-width: 26rem;
    text-align: center;
}

.seksioni-a-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    gap: 0.5rem;
}

.input{
    width: 14rem;
    height: 2rem;
    border-radius:0.4rem ;
    text-align: center;
}

.seksioni-b-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    gap: 0.5rem;
}

.seksioni-b-form-2{
    display: flex;
    gap: 1rem;
}

.radio-input{
    display: flex;
    flex-direction: row;
}

.seksioni-c-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    gap: 0.7rem;
}

.seksioni-d-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
    gap: 0.5rem;
}

.checkbox{
    margin: 1rem;
}

.btn-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}