.header{
    margin: 0%;
}
.body{
    justify-content: center;
    text-align: center;
}
#logInto{
    font-family: 'Samsung sans',sans-serif;
    color: #0c4f91;
    margin-top: 60px;
    font-weight: 300;
    font-size: x-large;
    margin-right: 35px;
}
.loginpart{
    width: 400px;
    margin-left: 250px;
    padding: 50px;
}
#emri{
    border: 1px solid white;
    border-bottom: 1px solid grey;
}
#fjalekalimi{
    border: 1px solid white;
    border-bottom: 1px solid grey;
}
#buttoni1{
    width: 300px;
    background-color:#0c4f91;
    border-radius: 7px;
}
#buttoni2{
    width: 300px;
    background-color:white;
    border-radius: 7px;
    margin-top: 20px;
    color:#0c4f91;
}
#buttoni3{
    width: 300px;
    background-color:white;
    border-radius: 7px;
    margin-top: 20px;
    color:#0c4f91;
}
#buttoni4{
    width: 300px;
    background-color:white;
    border-radius: 7px;
    margin-top: 20px;
    color:#0c4f91;
}
#text1{
    text-align: start;
    margin-top: 10px;
    color: grey;
}
#text2{
    text-align: start;
    margin-top: 10px;
    color: grey;
}
#text3{
    text-align: start;
    margin-top: 10px;
    color: grey;
}
.navigation {
    font-family: 'Samsung sans',sans-serif;
    color: #0d2a47;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 17px;
}
.navigation a{
    padding:20px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.navigation-1 {
    font-family: 'Samsung sans',sans-serif;
    text-decoration: none;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
    margin-left: 170px;
}
.navigation-1 a{
    padding:15px;
    color: white;
}
/* Tabletat pro  */
@media (max-width:1200px) {
    .header{
        display: flex;
        justify-content: center;
    }
    .header{
        background-color: yellow;
    }
}